.contenitoreCard{
    margin-inline: 100px !important;
    justify-content: center
}
.contenitoreAggiungi{
    display: inline-block;
    width: 85%;
    margin-top: 80px;
    padding: 40px;
    padding-bottom:0;
    border: solid 5px orange;
}