.button, .button:focus {
    background-color: orange;
    color: white;
    border-color: orange;
    width: 50vh;
    margin-top: 20vh;
    box-shadow: none;
}

.button:hover {
    background-color: white;
    color: orange;
    border-color: orange;
}