.bottone, .bottone:focus {
    background-color: orange !important;
    color: white !important;
    border-color: orange !important;
    width: 50vh !important;
    margin-top: 20vh !important;
    box-shadow: none !important;
}

.bottone:hover {
    background-color: white !important;
    color: orange !important;
    border-color: orange !important;
}